docx-translator/docx-translator.json
{
  "name": "DOCX Translator",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const file = items[0].binary.File;\n\n\nfile.fileExtension = 'zip';\nfile.mimeType = 'application/zip';\n\n\nfile.fileName = file.fileName.replace(/\\.docx$/i, '.zip');\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        416
      ],
      "id": "c96b03ea-dd28-466b-aaaf-f93247debfff",
      "name": "Change to zip"
    },
    {
      "parameters": {
        "formTitle": "Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1024,
        416
      ],
      "id": "4c527202-f5e1-4c75-a0d2-a47f3b28e8a9",
      "name": "Submit .docx",
      "webhookId": "69bd050a-8896-451f-9981-b9587a35c392"
    },
    {
      "parameters": {
        "operation": "xml",
        "binaryPropertyName": "={{ Object.keys($binary).find(k => $binary[k].fileName === 'document.xml') }}",
        "destinationKey": "=File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        240
      ],
      "id": "3adc9e75-afc8-4321-a72e-e7c707178b3d",
      "name": "Extract Raw Content"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst xml = $json.File; \n\n\nconst pRegex = /<w:p\\b[^>]*>[\\s\\S]*?<\\/w:p>/g;\nconst tRegex = /<w:t\\b[^>]*>([\\s\\S]*?)<\\/w:t>/g;\n\n\nconst paragraphs = []; \nconst runs = []; \nlet globalRunIndex = 0;\n\nlet pMatch;\nwhile ((pMatch = pRegex.exec(xml)) !== null) {\n  const pXml = pMatch[0];\n\n  const textParts = [];\n  const runIndices = [];\n\n  let tMatch;\n  while ((tMatch = tRegex.exec(pXml)) !== null) {\n    const innerText = tMatch[1] ?? '';\n\n\n    textParts.push(innerText);\n    runIndices.push(globalRunIndex);\n\n    runs.push({\n      index: globalRunIndex,\n      text: innerText,\n      paragraphId: paragraphs.length,\n    });\n\n    globalRunIndex++;\n  }\n\n  const paragraphText = textParts.join('');\n\n\n  if (paragraphText.trim().length === 0) {\n    continue;\n  }\n\n  paragraphs.push({\n    id: paragraphs.length,\n    text: paragraphText,\n    runIndices,\n  });\n}\n\n\nreturn {\n  json: {\n    ...$json,\n    originalXml: xml,\n    paragraphs,\n    runs,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        240
      ],
      "id": "c86b13fa-8d04-4820-9727-57075e10bd34",
      "name": "Segmentation"
    },
    {
      "parameters": {
        "jsCode": "const llmItems = $input.all();\n\nconst segmentation = $('Segmentation').first().json;\nconst originalXml = segmentation.originalXml;\nconst runs = segmentation.runs;\n\n\nconst translations = llmItems.map(item => ({\n  id: item.json.id,                 \n  runIndices: item.json.runIndices, \n  translatedText: item.json.text,  \n}));\n\n\nreturn [\n  {\n    json: {\n      originalXml,\n      runs,\n      translations,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ],
      "id": "dc5c9370-40e9-40a6-a2e1-62a629c639dc",
      "name": "Collect Translations"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Paragraph to translate:\n<<<\n{{ $json.text }}\n>>>\n",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional translator. Translate the paragraph between <<< and >>> into natural, fluent English. Keep numbers, special characters and placeholders exactly as in the original. Return only the translated paragraph, with no explanations or comments."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        416,
        -16
      ],
      "id": "bef9d564-3835-47f8-87de-2d04d1abbab9",
      "name": "Translator"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=paragraphs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        192,
        240
      ],
      "id": "07908b3c-bfec-476b-b007-3e36bc9310f0",
      "name": "Split"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        224
      ],
      "id": "c4f91930-a26a-4fda-977a-e52cdfcd4e5f",
      "name": "Combine"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        144
      ],
      "id": "92b3fc80-f3a1-445e-aa6e-67a19a8ffb96",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "Kk5ORLtwyG4lbbPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const originalXml = $json.originalXml;\nconst runs = $json.runs;\nconst translations = $json.translations;\n\n\nfor (const t of translations) {\n  const { runIndices, translatedText } = t;\n\n  if (!translatedText || !runIndices || runIndices.length === 0) continue;\n\n  const paraRuns = runIndices.map(i => runs[i]);\n  const totalLen = paraRuns.reduce((sum, r) => sum + (r.text || '').length, 0) || 1;\n\n  let offset = 0;\n  for (let i = 0; i < runIndices.length; i++) {\n    const runIndex = runIndices[i];\n    const run = runs[runIndex];\n\n    const origLen = (run.text || '').length;\n    const isLast = i === runIndices.length - 1;\n\n    let share;\n    if (isLast) {\n      share = translatedText.length - offset;\n    } else {\n      share = Math.round(translatedText.length * origLen / totalLen);\n    }\n    if (share < 0) share = 0;\n\n    const part = translatedText.slice(offset, offset + share);\n    offset += share;\n\n    run.translatedText = part;\n  }\n}\n\n\nfor (const run of runs) {\n  if (typeof run.translatedText !== 'string') {\n    run.translatedText = run.text || '';\n  }\n}\n\nfunction escapeXml(str) {\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\n\n\nlet runCounter = 0;\nconst tRegex = /<w:t\\b([^>]*)>([\\s\\S]*?)<\\/w:t>/g;\n\nconst newXml = originalXml.replace(tRegex, (match, attrs, inner) => {\n  const run = runs[runCounter++];\n\n  if (!run) {\n    return match;\n  }\n\n  const replacementText = escapeXml(run.translatedText);\n  return `<w:t${attrs}>${replacementText}</w:t>`;\n});\n\nreturn {\n  json: {\n    ...$json,\n    newDocumentXml: newXml,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        224
      ],
      "id": "7115afb0-1e37-4031-8fb7-9f12791615d5",
      "name": "Rebuild XML"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (!item.binary) continue;\n\n  for (const key of Object.keys(item.binary)) {\n    const file = item.binary[key];\n    if (!file || typeof file !== 'object') continue;\n\n\n    if (!file.fileExtension && (!file.data || file.data.length === 0)) {\n      delete item.binary[key];\n      continue;\n    }\n\n    if (file.directory) {\n      file.fileName = `${file.directory}/${file.fileName}`;\n    }\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        416
      ],
      "id": "5065973b-e6a0-4422-ab84-5c646d5a6da0",
      "name": "Save Directory Structure"
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "={{ Object.keys($binary).filter(k => k.startsWith('file_')).join(',') }}",
        "fileName": "={{ $node[\"Submit .docx\"].json[\"File\"][\"filename\"].split('.').slice(0, -1).join('.') + '_EN.docx' }}"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2208,
        416
      ],
      "id": "7b2a8a1f-6e3e-4cac-ad9b-948af729a63f",
      "name": "Compress to .docx",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Decompression\n\n1. The uploaded .docx is renamed to .zip so it can be decompressed.\n\n2. The .zip is decompressed into the core .xml files of the .docx (if unclear, look up the .docx file structure).",
        "height": 384,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        208
      ],
      "typeVersion": 1,
      "id": "ce6eff43-dc15-4a04-9987-a6ab089c7a34",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        416
      ],
      "id": "50090ce8-c7d6-486d-ab1c-138e4bf37452",
      "name": "Combine .xml files"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst binaries = item.binary || {};\nconst newXml = item.json.newDocumentXml;\n\nfor (const [key, bin] of Object.entries(binaries)) {\n  if (!bin || typeof bin !== 'object') continue;\n\n  const name = bin.fileName || '';\n  const dir = bin.directory || '';\n\n\n  if (name === 'document.xml' && dir === 'word') {\n    bin.data = Buffer.from(String(newXml), 'utf8').toString('base64');\n    bin.mimeType = 'application/xml';\n  }\n}\n\nitem.binary = binaries;\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        416
      ],
      "id": "5cdd3ca0-8fe1-4464-bbf4-725708aea9c5",
      "name": "Replace document.xml"
    },
    {
      "parameters": {
        "content": "## Translation\n\n1. Split the document into paragraphs and send only these paragraphs to the LLM.\n\n2. The LLM translates each paragraph.\n\n3. The translated paragraphs are combined again using their index numbers so the document.xml can be rebuilt.",
        "height": 672,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -272
      ],
      "typeVersion": 1,
      "id": "26475226-4e00-456c-a0cd-bb76cbbe4e8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "binaryPropertyName": "File"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -544,
        416
      ],
      "id": "f6061925-086f-48a9-ad2e-65eb4e6ddaf6",
      "name": "Decompress zip"
    },
    {
      "parameters": {
        "content": "## Segmentation\n\n1. Extract the raw content of document.xml (the main text file in a .docx; the rest is mostly layout and metadata).\n\n2. Filter out the text parts and group them into paragraphs. Each text part gets an index so it can later be replaced with the matching translation.",
        "height": 368,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        32
      ],
      "typeVersion": 1,
      "id": "ab9d4f9a-c14c-4daa-a755-d59bc5a2c6d5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Submission\n\nEntry point where the user uploads a .docx file via form.",
        "height": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        272
      ],
      "typeVersion": 1,
      "id": "23de3c5f-0c7e-454d-b9d9-3dfd85fcbde6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Rebuilding\n\n1. Adjust all items with translations and index numbers into the format expected by the rebuild step.\n\n2. Rebuild the document.xml file with the translated text inserted at the correct positions.",
        "height": 368,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        32
      ],
      "typeVersion": 1,
      "id": "4eda7312-100b-4d07-9f17-9d26c3b87adc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Compression\n\n1. Prepare the correct folder structure for compression.\n\n2. Compress all .xml files back into a translated .docx file.",
        "height": 384,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        208
      ],
      "typeVersion": 1,
      "id": "5849a0c7-d0e4-442b-b9f4-4e4a12cf3fac",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Preparation\n\n1. Collect all .xml files contained in the original .docx.\n\n2. Replace the old document.xml with the newly generated, translated version.",
        "height": 384,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        208
      ],
      "typeVersion": 1,
      "id": "a2643e00-9f10-4ade-9273-fa61202194ee",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Change to zip": {
      "main": [
        [
          {
            "node": "Decompress zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit .docx": {
      "main": [
        [
          {
            "node": "Change to zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Raw Content": {
      "main": [
        [
          {
            "node": "Segmentation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segmentation": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translator": {
      "main": [
        [
          {
            "node": "Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Translator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine": {
      "main": [
        [
          {
            "node": "Collect Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Collect Translations": {
      "main": [
        [
          {
            "node": "Rebuild XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rebuild XML": {
      "main": [
        [
          {
            "node": "Combine .xml files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Directory Structure": {
      "main": [
        [
          {
            "node": "Compress to .docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine .xml files": {
      "main": [
        [
          {
            "node": "Replace document.xml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace document.xml": {
      "main": [
        [
          {
            "node": "Save Directory Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress zip": {
      "main": [
        [
          {
            "node": "Combine .xml files",
            "type": "main",
            "index": 1
          },
          {
            "node": "Extract Raw Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cdc2559b-fea7-49f9-b53e-ba1762921127",
  "meta": {
    "instanceId": "75db51418cb1dd36d3cd97799fce2733f5dd77e5a398a79d4e5bfa849be4cffe"
  },
  "id": "RuzG7eFlTEcrHkLg",
  "tags": []
}
